aside {
    width: 320px;
    background-color: #ffffff;
    box-shadow: 0 0 14px rgba(0,0,0, .02);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 30px 20px;
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #333333;
}

aside form {
    margin-top: 30px;
}

aside form .input-block + .input-block {
    margin-top: 10px;
}

aside form .input-group {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

aside form .input-group .input-block {
    margin-top: 0;
}

aside form .input-block label {
    color: #acacac;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

aside form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666666;
    border: 0;
    border-bottom: 1px solid #eeeeee;
}

aside form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background-color: #7d40e7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: background .2s;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
}

aside form button[type=submit]:hover {
    background-color: #6931ca;
}
